################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpotifyArchiver/.vs
**/obj
**/bin
/SpotifyArchiver/SpotifyArchiver/spotify_archive.db
/SpotifyArchiver/SpotifyArchiver/spotify_tokens.json
/SpotifyArchiver/.geminiignore
