################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpotifyArchiver/.vs
**/obj
**/bin
/SpotifyArchiver/SpotifyArchiver/spotify_tokens.json
/SpotifyArchiver/SpotifyArchiver/music.db
